*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

PosServiceTester/src/androidTest/

LogServiceTester/

PosServiceTester/src/main/aidl/

PosServiceTester/src/main/java/jp/

PosServiceTester/src/main/java/idv/bruce/posservicetester/domain/controller/Controller.kt
